/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .header1 {
  float: left; 
  width: 20%; 
  padding:10px;
 }
 .padding2 {
  font-size: 1rem;
  padding: 10%;
 }
 .padding1 {
  padding: 10%;
 }
 .style1 {
  margin: 3% 0px;
 }
 .margin_r {
  padding: 0px 0px 20px 0px;
 }
 .image_size1 {
  width: 35%;
  height: 35%;
 }
 .container {
  display: grid;
  grid-template: 
            "b a a" auto
            "b c c" auto
            "b c c" auto
            "d d d" auto;
 }
 
.header {
    grid-area: a;
}
.sidebar {
    grid-area: b;
}
.main {
    grid-area: c;
}
.footer {
    grid-area: d;
}